
@media only screen and (max-width: 768px){
.select .placeholder {
    cursor: pointer;
    display: block;
    padding: 0.5rem 0;
    position: relative;
    z-index: 1;
}
}

@media only screen and (min-width: 769px){
  .filter__item.active a {
      color: #3B4B5E;
  }
  }

  @media only screen and (min-width: 769px){
  .filter__item::before {
      content: '';
      background-color: #5E6E80;
      border-radius: 0.1875rem;
      position: absolute;
      top: 0;
      right: 0.375rem;
      bottom: 0;
      height: 0.25rem;
      margin: auto;
      width: 0.25rem;
  }
  }

@media only screen and (min-width: 769px){
  .filter__item:last-child:before {
      content: none;
  }
}

@media only screen and (min-width: 769px){
  .filter__item::before {
      background-color: #AEB0B8;
  }
}

@media only screen and (min-width: 769px){
  .filter__item {
      padding-right: 1rem;
      position: relative;
  }
  }

@media only screen and (min-width: 769px){
  .filter > * {
      min-width: 0;
  }
  }

@media only screen and (min-width: 769px){
  .filter__item:first-child {
      display: none;
  }
  }

@media only screen and (min-width: 769px){
  .filter {
      display: inline-flex;
      flex-wrap: wrap;
      font-size: 1rem;
      list-style: none;
      margin-bottom: 1.1875rem;
      padding: 0;
  }
  }

.select .placeholder {
  display: none;
}

.pb-0, .py-0 {
  padding-bottom: 0!important;
}

@media only screen and (min-width: 769px){
  .filter__item.active a {
      color: #FCFCFC;
  }
  }

@media only screen and (min-width: 769px){
.filter__item a {
    color: rgba(94, 110, 128, 0.8);
}
}

@media only screen and (min-width: 769px){
  .filter__item a {
      color: rgba(174, 176, 184, 0.8);
  }
  }

@media only screen and (min-width: 769px){
.filter__link {
    padding: 0 0.25rem;
    text-decoration: none;
    display: block;
    overflow: hidden;
    position: relative;
}
}

@media only screen and (min-width: 769px){
.filter__link:hover {
    text-decoration: none;
}
}

.gallery-grid {
  display: flex;
}

.gallery-grid > * {
  min-width: 0;
}

.gutter-sizer {
  width: 1.875rem;
}

.gallery-grid__item {
  margin-bottom: 1.25rem;
  width: calc(33% - 18px);
}

figure {
  margin: 0 0 1rem;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

.gallery-grid__image-wrap {
  border-radius: 14px;
  display: block;
  height: 11.25rem;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
}

.gallery-grid__image {
  border-radius: 10px;
  transform: scale3d(1, 1, 1);
}

.medium-zoom-image {
  cursor: pointer !important;
  z-index: 9;
}

.medium-zoom-image {
  cursor: pointer;
  cursor: zoom-in;
  transition: transform .3s cubic-bezier(.2,0,.2,1);
}


article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

.gallery-grid__title {
  margin-top: 1rem;
  margin-bottom: 0;
}

.gallery-grid__category {
  font-size: 0.875rem;
  display: block;
}

/* start */
  
    .filter__item:last-child:after {
        content: none;
    }
  /* end */

